//双飞翼布局
$left-side-width: 200px;
$right-side-width: 120px;
.container {
	margin-top:60px;
	padding: 50px 20px;
	background-color: #eee;
	overflow: auto;
}
.main-wrapper {
	float: left;
	width: 100%;
	box-sizing:border-box;
	background-color: #eee;
	padding: 0 160px 20px 240px;
	.main{
		background-color: #eee;
		margin-bottom: 20px;
		.article {
			padding: 20px;
			background-color: #fff;
			margin-bottom:20px;
			box-shadow: 3px 3px 3px #bbb;
			h2{
				padding: 10px 0 20px;
			}
		}

	}
	
}
.left-side {
	float: left;
	width: $left-side-width;
	margin-left: -100%;
	z-index: 1000;
	background-color: red;
	img {
		float: left;
		width: 80px;
		height: 80px;
	}
}
.right-side{
	float: left;
	width: $right-side-width;
	margin-left: - $right-side-width;
	background-color: green;
}
